#header {
    padding-bottom: 20px;
    padding-top: 10px;
}
#listing {
    padding-top: 100px
}
.img {
    height: 230px;
    width: 250px;
}
#photo {
    height: 250px;
}
.content {
    height:200px
}